src/main/xsd/herald.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rss">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="channel">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="title" type="xs:string" />
              <xs:element name="link" type="xs:string" />
              <xs:element name="description" type="xs:string" />
              <xs:element name="language" type="xs:string" />
              <xs:element name="copyright" type="xs:string" />
              <xs:element name="lastBuildDate" type="xs:string" />
              <xs:element name="docs" type="xs:string" />
              <xs:element name="generator" type="xs:string" />
              <xs:element name="managingEditor" type="xs:string" />
              <xs:element name="webMaster" type="xs:string" />
              <xs:element name="image">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="title" type="xs:string" />
                    <xs:element name="url" type="xs:string" />
                    <xs:element name="link" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="title" type="xs:string" />
                    <xs:element name="link" type="xs:string" />
                    <xs:element name="description" type="xs:string" />
                    <xs:element name="author" type="xs:string" />
                    <xs:element name="pubDate" type="xs:string" />
                    <xs:element maxOccurs="unbounded" name="enclosure">
                      <xs:complexType>
                        <xs:attribute name="url" type="xs:string" use="required" />
                        <xs:attribute name="length" type="xs:unsignedShort" use="required" />
                        <xs:attribute name="type" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>